


.hoverButton:hover .bsChevronRight{
    transform: translateX(60%);
    transition-duration: 0.3s;
    transition-timing-function: linear;
  }

/* @media screen and (max-width:1023px) {
    .bsChevronRight{
        visibility: hidden;
    }
} */